img {
    background-image: url("https://abrakadabra.fun/uploads/posts/2022-01/1642955432_9-abrakadabra-fun-p-oboi-na-kompyuter-anime-estetika-temnie-10.jpg");
    background-size: cover;
  }
  img{
    width: 500px;

}